{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
  {% comment %} <link rel="stylesheet" href="{% static 'courses/css/style.css' %}" /> {% endcomment %}
{% endblock %}

{% block page_title %}
  anasayfa
{% endblock %}

{% block content %}
  <!-- Ana İçerik - Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <h1>Ürünlerimiz</h1>
      <p>Toptan ve Perakende Evcil Hayvan Ürünleri Satışı</p>
    </div>
  </div>

  <!-- Ürün Listesi -->
  <div class="product-list">
    <div class="container">
      <div class="row">
        {% for product in products %}
          <div class="col-sm-2">
            <div class="product-card">
              {% comment %} <img src="https://via.placeholder.com/250" alt="Ürün Resmi" /> {% endcomment %}
              <div style="position: relative;">
                <img src="{% static 'shop/img/' %}{{ product.url }}" alt="{{ product.name }}" class="card-img-top" style="margin: 0 auto;" />
                <a href="#" class="btn-favorite2"><span class="glyphicon glyphicon-heart-empty"></span></a>
              </div>
              {% comment %} <div class="product-title">{{ product.name }}</div> {% endcomment %}
              <div class="product-description" style="font-family: Arial; font-size: 8pt;">{{ product.description }}</div>
              <div class="product-price">₺{{ product.price }}</div>
              <a href="#" class="btn-cart" style="font-size: 10px; padding: 3px 5px; margin: 0 25px;">Sepete Ekle</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js_files %}
  {% comment %} <script src="{% static 'courses/js/script.js' %}"></script> {% endcomment %}
{% endblock %}
